/*=======VARIABLES=========*/
:root {
	--bg-color: #FFDEAD;
	--main-color: #8B4513;
	--second-color: #D2691E;
	--active-color: #800000;
	--dark-color: #000;
	--white-color: #fff;
	--link-color: #42659A;
}
/*=======RESET=========*/
* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: 'montserratregular', helvetica, sans-serif;
	font-weight: 300;
}

body {
	overflow-x: hidden;
	background-color: #FFDEAD;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 600;
	color: #000;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
p,
blockquote,
th,
td {
	margin: 0;
	padding: 0;
	font-size: 1em;
	direction: ltr;
}

p {
	font-weight: normal;
	margin-bottom: 1em;
}

a {
	color: #42659A;
	text-decoration: none;
	line-height: inherit;
}

a:focus {
	color: #42659A;
}

img,
object,
embed {
	max-width: 100%;
	height: auto;
}

ul {
	list-style: none;
}

/*Butoes*/
.btn {
	display: inline-block;
	min-width: 180px;
	padding: .4em 2em;
	height: 45px;
	text-align: center;
	color: #fff;
	letter-spacing: 1px;
	margin: 0;
	font-size: 1.125rem;
	border-radius: 50px;
	margin-top: 20px;
	background-color: #000;
	transition: .5s;
	border: 1px solid #000;
}

.btn-default {
	color: #333;
	background-color: #fff;
	border-color: #ccc;
}

.btn:hover {
	background-color: #fff;
	color: #000;
	transition: background ease;
	transition-duration: .5s;
}

/* TOP HEADER STYLES */
.top_header {
	display: flex;
	justify-content: space-between;
	padding: 2rem 14rem;
	color: var(--main-color);
}

.logo {
	font-size: 2.2rem;
	color: var(--main-color);
}

.head_location_details {
	display: inherit;
	justify-content: inherit;
}

.head_phone_details,
.head_location {
	padding: .8rem 2rem;
}

.head_location {
	border-left: 3px solid var(--main-color);
}

/*     Main banner styles    */
.main_banner {
	height: 300px;
}

.main_banner img {
	opacity: 0;
}

.main_banner .banner_inner_text {
	width: 60%;
}

.main_banner .banner_inner_text h2 {
	font-size: 2rem;
	color: #fff;
	text-align: center;
}

/* Catalogue styles  */
.margin-top-80 {
	margin-top: 120px;
}

.margin-top {
	margin-top: 50px;
}

.product_price {
	background-color: #D2691E;
	width: 150px;
	padding: 10px;
	margin-top: -10px;
	margin-bottom: 5px;
}

.catalogo_productos .box {
	position: relative;
}

.catalogo_productos h2.product_price {
	font-size: 1.2rem;
	color: #fff;
}

.prod_desc_details .prod_name {
	color: #800000;
}

.prod_desc_details .prod_desc {
	color: #8B4513;
}

.view_prod_btn {
	position: absolute;
	margin-top: -350px;
	margin-left: 70px;
	z-index: -9999;
	opacity: 0;
}

.catalogo_productos .box:hover .view_prod_btn {
	z-index: 9999;
	opacity: 1;
}

/* Our testimonials styles  */
.history {
	background-color: #fff;
	padding: 80px 0;
}

.history h3 {
	color: #D2691E;
	font-size: 2rem;
	padding-bottom: 20px;
}

.history p {
	color: #8B4513;
	line-height: 1.5em;
}

.btn-chocolate {
	border: 1px solid #8B4513;
	background-color: #8B4513;
}

.btn-red {
	border: 1px solid #800000;
	background-color: #800000;
}

/*   Footer styles   */

footer {
	background-color: #8B4513;
	padding: 50px 0;
}

.margin-top-footer {
	margin-top: 50px;
}

footer .the_company h1,
p {
	color: #fff;
}

footer p {
	line-height: 1.5;
}

footer .footer_titles {
	text-transform: uppercase;
	padding-bottom: 20px;
	color: #fff;
}

footer .social_networks li {
	float: left;
	margin-right: 5px;
	background-color: #fff;
	width: 50px;
	height: 50px;
	border-radius: 100%;
}

footer .social_networks li i {
	color: #8B4513;
	font-size: 2em;
	line-height: 50px;
	margin-left: 10px;
}

footer .social_networks li i.fa-facebook {
	margin-left: 15px;
}

footer .social_networks li:hover {
	background-color: #800000;
	color: #fff;
}

footer .the_company h1 {
	font-size: 1.7rem;
	text-transform: uppercase;
	padding-bottom: 10px;
	font-family: 'montserratregular';
	font-weight: 300;
}

footer ul li {
	line-height: 1.5;
}

footer ul li a {
	color: #fff;
}

footer ul li.margin-bottom {
	margin-bottom: 100px;
}

footer .radius_thumb {
	width: 26%;
	height: 60px;
	border-radius: 100%;
	position: relative;
}

footer span {
	color: #fff;
	font-family: helvetica;
	font-weight: 300;
	font-size: 1em;
	position: absolute;
	width: 190px;
	padding-left: 10px;
}

footer .copy_right {
	color: #fff;
	margin: 20px auto;
}

@media screen and (min-width: 558px) {
	.main_banner {
		height: auto;
	}

	.main_banner img {
		opacity: 1;
		width: 100%;
		height: 650px;
	}

	.main_banner .banner_inner_text {
		width: 40%;
	}

	.main_banner .banner_inner_text h2 {
		font-size: 5rem;
	}

	footer {
		height: 350px;
	}

	.margin-top-footer {
		margin-top: 0px;
	}

	footer .copy_right {
		color: #fff;
		text-align: center;
		margin-top: -20px;
	}
}